<!DOCTYPE html>
<html>

  {% include head.html %}


  <body>
    <nav class="nav-main">
      <ul>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/about/"><i class="fa fa-user fa-2x"></i></a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/"><i class="fa fa-home fa-2x"></i></i></a></li>
        <li class="dropdown hvr-underline-reveal"><a href="{{ site.baseurl }}/blog/" class="dropbtn"><i class="fa fa-book fa-2x"></i> </a></li>

        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/za/"><i class="fa fa-cube fa-2x"></i></a></li>
      </ul>
    </nav>

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
        <div>理明一窍通千窍&middot说破无生即是仙</div>
        </small>

        <div class="ftr-links">
        <div class="email-display"><i class="fa fa-envelope"></i><span>miexuan2026at163.com</span></div>
        </div>
<span class="copyright"><i class="fa fa-copyright"></i> 2026-<time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}</span>
      </footer>
        </div>

  </body>
</html>
